@import "base/base";
@import "abstract/variables";
@import "abstract/mixin";
@import "components/head";
@import "base/typography";
@import "components/buttons";
@import "layouts/india-stats";
@import "layouts/bihar-stats";
@import "layouts/footer";