/*Page Section*/
/*Home-Stats Page*/
/*Header-Section*/
/*India Section*/
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap");
*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  background-color: #011030; }
  @media only screen and (min-width: 56.26rem) and (max-width: 112.49em) {
    html {
      font-size: 55%; } }
  @media only screen and (min-width: 37.51rem) and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 45%; } }
  @media screen and (min-width: 112.5em) {
    html {
      font-size: 65%; } }

body {
  padding: 1.5rem; }
  @media only screen and (max-width: 37.5em) {
    body {
      padding: 0; } }

header {
  color: white; }
  header .title-head {
    padding: 2rem 1rem; }

.title-head {
  font-size: 6rem;
  text-align: center;
  font-family: 'Abril Fatface', cursive;
  font-weight: bolder;
  letter-spacing: 0.4rem; }

.country-name {
  font-size: 3.5rem;
  text-transform: uppercase;
  letter-spacing: 0.8rem;
  padding: 1.5rem;
  font-family: 'Orbitron', sans-serif;
  color: #D6D8DD; }

.state-name {
  font-size: 3.5rem;
  text-transform: uppercase;
  letter-spacing: 0.8rem;
  padding: 1.5rem;
  font-family: 'Orbitron', sans-serif;
  color: #D6D8DD; }

.vaccinated {
  -webkit-text-fill-color: #501b1d; }

.btn-main {
  background-color: #D6D8DD;
  padding: 3rem 1.5rem;
  border-radius: 1rem; }
  .btn-main .nav-link-bihar-stats, .btn-main .nav-link-vaccine-availability, .btn-main .nav-link-beds-availability, .btn-main .nav-link-other {
    font-family: 'Jost', sans-serif;
    font-size: 2rem;
    text-decoration: none;
    color: #011030;
    font-weight: bolder;
    letter-spacing: 0.2rem; }

.country-stats {
  background-color: #011030;
  padding: 1.5rem 1.5rem; }
  .country-stats .country-name {
    text-align: center; }
  .country-stats .stats-detail {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    font-size: 2rem;
    margin: 3rem 3rem 3rem 3rem;
    background-color: #011030;
    border: 0.3rem solid white;
    border-radius: 0.8rem;
    align-items: stretch; }
    .country-stats .stats-detail .col-country-stats {
      margin: 1rem 0.5rem;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: stretch;
      flex: 0 1 25%; }
      .country-stats .stats-detail .col-country-stats .col-head, .country-stats .stats-detail .col-country-stats .col-current, .country-stats .stats-detail .col-country-stats .upto-now {
        display: block;
        padding: calc(2 * 0.5rem);
        font-family: 'Jost', sans-serif;
        text-align: center;
        color: #D6D8DD;
        letter-spacing: 0.3rem; }
      .country-stats .stats-detail .col-country-stats .col-head {
        font-weight: bolder; }
    .country-stats .stats-detail .recovered {
      background: linear-gradient(to right, rgba(184, 226, 163, 0.8), #42a341, #074c00);
      transition: all 2s;
      border: solid 0.3rem green;
      border-radius: 0.8rem; }
      .country-stats .stats-detail .recovered:hover {
        background: linear-gradient(to right, rgba(7, 76, 0, 0.5), rgba(66, 163, 65, 0.5), rgba(184, 226, 163, 0.5)); }
    .country-stats .stats-detail .confirmed {
      background: linear-gradient(to right, #4b6cb7, #182848);
      border: solid 0.3rem #182848;
      border-radius: 0.8rem; }
      .country-stats .stats-detail .confirmed:hover {
        background: linear-gradient(to right, rgba(75, 108, 183, 0.5), rgba(24, 40, 72, 0.5)); }
    .country-stats .stats-detail .active {
      background: linear-gradient(to right, #ff512f, #f09819);
      border: solid 0.3rem #ff512f;
      border-radius: 0.8rem; }
      .country-stats .stats-detail .active:hover {
        background: linear-gradient(to right, rgba(255, 81, 47, 0.8), rgba(240, 152, 25, 0.8)); }
    .country-stats .stats-detail .deceased {
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(67, 67, 67, 0.6));
      border: solid 0.3rem #434343;
      border-radius: 0.8rem; }
      .country-stats .stats-detail .deceased:hover {
        background-image: linear-gradient(to right, black, #434343); }
    .country-stats .stats-detail .vaccinated {
      background-image: linear-gradient(to right, #ee9ca7, #ffdde1);
      border: solid 0.3rem #ee9ca7;
      border-radius: 0.8rem;
      color: red; }
      .country-stats .stats-detail .vaccinated:hover {
        background-image: linear-gradient(to right, rgba(238, 156, 167, 0.9), rgba(255, 221, 225, 0.9)); }
    .country-stats .stats-detail .TPR {
      background-image: linear-gradient(to right, #6441a5, #2a0845);
      border: solid 0.3rem #2a0845;
      border-radius: 0.8rem; }
      .country-stats .stats-detail .TPR:hover {
        background-image: linear-gradient(to right, rgba(100, 65, 165, 0.7), rgba(42, 8, 69, 0.7)); }
  .country-stats .country-stats-updated {
    color: #D6D8DD;
    font-weight: bolder;
    text-align: center;
    font-size: 2rem;
    font-family: 'Jost', sans-serif;
    letter-spacing: 0.2rem; }

.bihar-stats {
  background-color: #011030;
  padding: 3rem 1.5rem; }
  .bihar-stats .state-name {
    text-align: center; }
  .bihar-stats .stats-detail {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    font-size: 2rem;
    margin: 3rem 3rem 3rem 3rem;
    background-color: #011030;
    border: 0.3rem solid white;
    border-radius: 0.8rem;
    align-items: stretch; }
    .bihar-stats .stats-detail .col-bihar-stats {
      margin: 1rem 0.5rem;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: stretch;
      flex: 0 1 25%; }
      .bihar-stats .stats-detail .col-bihar-stats .col-head, .bihar-stats .stats-detail .col-bihar-stats .col-current, .bihar-stats .stats-detail .col-bihar-stats .upto-now {
        display: block;
        padding: calc(2 * 0.5rem);
        font-family: 'Jost', sans-serif;
        text-align: center;
        color: #D6D8DD;
        letter-spacing: 0.3rem; }
      .bihar-stats .stats-detail .col-bihar-stats .col-head {
        font-weight: bolder; }
    .bihar-stats .stats-detail .recovered {
      background: linear-gradient(to right, rgba(184, 226, 163, 0.8), #42a341, #074c00);
      transition: all 2s;
      border: solid 0.3rem green;
      border-radius: 0.8rem; }
      .bihar-stats .stats-detail .recovered:hover {
        background: linear-gradient(to right, rgba(7, 76, 0, 0.5), rgba(66, 163, 65, 0.5), rgba(184, 226, 163, 0.5)); }
    .bihar-stats .stats-detail .confirmed {
      background: linear-gradient(to right, #4b6cb7, #182848);
      border: solid 0.3rem #182848;
      border-radius: 0.8rem; }
      .bihar-stats .stats-detail .confirmed:hover {
        background: linear-gradient(to right, rgba(75, 108, 183, 0.5), rgba(24, 40, 72, 0.5)); }
    .bihar-stats .stats-detail .active {
      background: linear-gradient(to right, #ff512f, #f09819);
      border: solid 0.3rem #ff512f;
      border-radius: 0.8rem; }
      .bihar-stats .stats-detail .active:hover {
        background: linear-gradient(to right, rgba(255, 81, 47, 0.8), rgba(240, 152, 25, 0.8)); }
    .bihar-stats .stats-detail .deceased {
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(67, 67, 67, 0.6));
      border: solid 0.3rem #434343;
      border-radius: 0.8rem; }
      .bihar-stats .stats-detail .deceased:hover {
        background-image: linear-gradient(to right, black, #434343); }
    .bihar-stats .stats-detail .vaccinated {
      background-image: linear-gradient(to right, #ee9ca7, #ffdde1);
      border: solid 0.3rem #ee9ca7;
      border-radius: 0.8rem;
      color: red; }
      .bihar-stats .stats-detail .vaccinated:hover {
        background-image: linear-gradient(to right, rgba(238, 156, 167, 0.9), rgba(255, 221, 225, 0.9)); }
    .bihar-stats .stats-detail .TPR {
      background-image: linear-gradient(to right, #6441a5, #2a0845);
      border: solid 0.3rem #2a0845;
      border-radius: 0.8rem; }
      .bihar-stats .stats-detail .TPR:hover {
        background-image: linear-gradient(to right, rgba(100, 65, 165, 0.7), rgba(42, 8, 69, 0.7)); }
  .bihar-stats .bihar-stats-updated {
    color: #D6D8DD;
    font-weight: bolder;
    text-align: center;
    font-size: 2rem;
    font-family: 'Jost', sans-serif;
    letter-spacing: 0.2rem; }

footer {
  background-color: black;
  color: white;
  padding: 4rem 15rem; }
  footer .logo-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center; }
    footer .logo-container .footer-logo {
      height: 7.5rem;
      transition: all 0.5s; }
      footer .logo-container .footer-logo:hover {
        transform: scale(1.2, 1.2); }
  footer .name {
    font-size: 2.5rem;
    text-align: center;
    margin-top: 2rem;
    font-family: 'Jost', sans-serif;
    letter-spacing: 0.2rem;
    background: linear-gradient(to right, #ff512f, #f09819, yellow);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent; }
