*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 100%; }

/*Page Section*/
/*Home-Stats Page*/
/*Header-Section*/
header {
  background-color: #051845;
  color: white; }
  header .title-head {
    padding: 2rem 1rem; }
  header .nav-row {
    clear: both;
    content: "";
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
    padding: 2rem 0;
    margin: 0 5rem; }
    header .nav-row .col {
      text-align: center;
      margin: 1rem;
      flex: 0 1 auto; }

.title-head {
  font-size: 3.75rem;
  text-align: center;
  font-family: 'Comfortaa', cursive;
  font-weight: bolder; }

.btn-main {
  background-color: #D6D8DD;
  padding: 3rem 1.5rem;
  border-radius: 1rem; }
  .btn-main .nav-link {
    font-family: 'Jost', sans-serif;
    font-size: 2rem;
    text-decoration: none;
    color: #051845;
    font-weight: bolder;
    letter-spacing: 2px; }
