
@mixin clearfix
{
    clear:both;
    content: "";
}

@mixin color-tab
{
    .recovered
        {
            background:linear-gradient(to right,   rgba(184, 226, 163, 0.8),rgba(66, 163, 65, 1),rgba(7, 76, 0,8));
           transition: all 2s;
           border : solid 0.3rem green;
            border-radius: 0.8rem;
            &:hover
            {
                background:linear-gradient(to right, rgba(7, 76, 0,0.5), rgba(66, 163, 65, 0.5), rgba(184, 226, 163, 0.5));
            }
        }
        .confirmed
        {
            background:linear-gradient(to right, rgba(75, 108, 183, 1), rgba(24, 40, 72, 1));
            border : solid 0.3rem rgb(24, 40, 72);
            border-radius: 0.8rem;
            &:hover
            {

                background:linear-gradient(to right, rgba(75, 108, 183, 0.5), rgba(24, 40, 72, 0.5));
            }
        }
        .active
        {
            background:linear-gradient(to right, rgba(255, 81, 47,1),rgba(240, 152, 25, 1));
            border : solid 0.3rem rgba(255, 81, 47, 1);
            border-radius: 0.8rem;
            &:hover
            {

                background:linear-gradient(to right, rgba(255, 81, 47, 0.8), rgba(240, 152, 25, 0.8));
            }
        }
        .deceased
        {
            background-image:linear-gradient(to right, rgba(0, 0, 0,0.6), rgba(67, 67, 67, 0.6));
            border : solid 0.3rem rgb(67,67,67);
            border-radius: 0.8rem;
            &:hover
            {
                background-image:linear-gradient(to right, rgba(0, 0, 0,1.2), rgba(67, 67, 67, 1.2));
            }
        }
        .vaccinated
        {
            background-image:linear-gradient(to right, rgba(238, 156, 167, 1), rgba(255, 221, 225, 1));
            border : solid 0.3rem rgba(238, 156, 167, 1);
            border-radius: 0.8rem;
            color:red;
            &:hover
            {

                background-image:linear-gradient(to right, rgba(238, 156, 167, 0.9), rgba(255, 221, 225, 0.9));
            }
        }
        .TPR
        {
            background-image:linear-gradient(to right, rgba(100, 65, 165, 1), rgba(42, 8, 69, 1));
            border : solid 0.3rem rgba(42, 8, 69, 1);
            border-radius: 0.8rem;
            &:hover{
                background-image:linear-gradient(to right, rgba(100, 65, 165, 0.7), rgba(42, 8, 69, 0.7));
            }
        }
}

@mixin respond($parameter)
{
    @if $parameter == tab-land
    {
        @media only screen and (min-width: 56.26rem){ //1200
            @content    
        };
    }
    @if $parameter == tab-port
    {
        @media only screen and (min-width:37.51rem) and (max-width : 56.25em) {//900
            @content    
        };
    }
    
    @if  $parameter == phone
    {
        @media only screen and (max-width : 37.5em) { //600
            @content    
        };
    }
    
    @if $parameter == big-device
    {
        @media screen and (min-width : 112.5em) {
            @content    
        };
    }
}