@mixin col-creator($split)
{
    .col
        {
           
            text-align: center;
            margin:$nav-row-horizontal-gutter;
            flex :0 1 auto;
            
        }
}
@mixin clearfix
{
    clear:both;
    content: "";
}