header
{
    background-color: $stats-back-color;
    color:white;
    .title-head
    {
        padding : 2rem 1rem;
        
    }
    
    .nav-row
    {
        @include clearfix;
       
        max-width:114rem;
        margin: 0 auto;
        @include col-creator(4);
        overflow:hidden;
        padding: 2rem 0;
        margin : 0 5rem;
        
       
    }
}