@import "../abstract/mixin";
*,*::after,*::before
{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

html
{
    font-size:62.5%; //currently 16px
    @include respond(tab-land)
    {
      font-size: 55%;
    }
    @include respond(tab-port)
    {
      font-size: 50%;
    }
    @include respond(phone)
    {
      font-size: 45%;
    }
    @include respond(big-device)
    {
      font-size:65%;
    }
    background-color: $stats-back-color;
}
body
{
    padding:1.5rem;
    @include respond(phone)
    {
        padding:0;
    }
}