@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');
.title-head
{
    font-size :6rem;
    text-align: center;
    font-family: 'Abril Fatface', cursive;
    font-weight:bolder;
    letter-spacing: 4px;
}

.country-name
{
    font-size: 3.5rem;
    text-transform: uppercase;
    letter-spacing: 8px;
    padding : 1.5rem;
    font-family: 'Orbitron', sans-serif;
    color:#D6D8DD;
}

.state-name
{
    font-size: 3.5rem;
    text-transform: uppercase;
    letter-spacing: 8px;
    padding : 1.5rem;
    font-family: 'Orbitron', sans-serif;
    color:#D6D8DD;
}

.vaccinated
{
   -webkit-text-fill-color: #501b1d;
}