@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');
.title-head
{
    font-size :3.75rem;
    text-align: center;
    font-family: 'Comfortaa', cursive;
    font-weight:bolder;
}

.country-name
{
    font-size: 3.5rem;
    text-transform: uppercase;
    letter-spacing: 8px;
    padding : 1.5rem;
    font-family: 'Orbitron', sans-serif;
    color:#D6D8DD;
}
