
footer{
    background-color:black;
    color:white;
    padding: 4rem 15rem;
    .logo-container
    {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        .footer-logo
        {
            height:4.5rem;
        }
    }
    .name
    {
        font-size:2.5rem;
        text-align: center;
        margin-top :2rem;
        font-family: 'Jost', sans-serif;
        letter-spacing: 0.2rem;
        background:linear-gradient(to right, rgba(255, 81, 47,1),rgba(240, 152, 25, 1),yellow);
        background-clip: text;
        -webkit-background-clip: text;
        color:transparent;
        
    }
}


