.country-stats
{
    background-color: $stats-back-color;
   
    padding : 1.5rem 1.5rem;
    
    
    .country-name
    {
        text-align : center;
        
    }
    .stats-detail
    {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items : flex-start;
        flex-wrap: wrap;
        font-size: 2rem;
        margin : 3rem 3rem 3rem 3rem;
        background-color: $stats-back-color;
        border : 0.3rem solid white;
        border-radius : 0.8rem;
        align-items: stretch;
        
        .col-country-stats
        {
            //container too
            
            margin : $nav-row-horizontal-gutter $india-inner-padding;
            padding:$nav-row-horizontal-gutter;
            display:flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: stretch;
            flex : 0 1 25%;
            
            .col-head , .col-current , .upto-now
            {
                display: block;
                padding:calc(2 * #{$india-inner-padding});
                font-family: 'Jost', sans-serif;
                text-align: center;
                color:#D6D8DD;
                letter-spacing: 0.3rem;
            }
            .col-head{
                font-weight: bolder;
                
            }


        }
        @include color-tab;
    }
    .country-stats-updated
    {
        color:#D6D8DD;
        font-weight: bolder;
        text-align: center;
        font-size: 2rem;
        font-family: 'Jost', sans-serif;
        letter-spacing: 0.2rem;
    }
}
